{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Fly{% endblock %}


{% block topimg %}           
<section class="content" style= "background:url('../static/img/top_wind.jpg')">
  <h5 class="widget-user-desc"></h5>
</section> 
{% endblock %}


{% block page_content %}
    <h1><strong>关于小站</strong></h1>
	<h4>Email:<a  href="mailto:shugaocheng@163.com">shugaocheng@163.com</a>&nbsp;
	<a href="https://github.com/shugaocheng" style="color:black" ><i class="fa fa-fw fa-github-square"></i></a>
	<a href="https://www.facebook.com"style="color:black" ><i class="fa fa-fw fa-facebook-official"></i></a>
	<a href="https://www.google.com"style="color:black" ><i class="fa fa-fw fa-google-plus"></i></a>
	</h4>

{% endblock %}







